APP_NAME="MAXIERI RIFAS"
APP_SLOGAN="Cada numero tiene una historia."
APP_ENV=production
APP_DEBUG=false
APP_URL=https://tu-dominio.example
APP_TIMEZONE=America/Guayaquil

DB_HOST=containers-us-west-000.railway.app
DB_PORT=3306
DB_NAME=railway
DB_USER=root
DB_PASS=coloca_la_contrasena_real
DB_CHARSET=utf8mb4
